/*.mp3
/*.wav
*.pyc
__pycache__/
**/__pycache__/
.venv/
venv/
.transcrever.py
data/outputs/
logs/
data/input/**
!data/input/.gitignore
!data/input/.gitkeep
data/e2e/*.json
data/e2e/*.srt
data/e2e/*.tsv
data/e2e/*.txt
data/e2e/*.vtt
data/e2e/output_*.wav
!data/e2e/mini_test.wav
